@import url("https://fonts.googleapis.com/css?family=Pacifico|Roboto");
body {
	padding: 0;
  margin: 0; 
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  
}


h1.logo {
 margin: 0;
 color: #fff;
 font-family: 'Pacifico', cursive;
 font-size: 4em; 
 text-align: center;
}
h2{
  color: #666;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 25px;
  text-transform: capitalize;
}
section {
  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background: url(../images/bg.jpg) #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: .5s;
  z-index: 99;
}

section:after{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fb3a64;
  opacity: .5;
  z-index: 1;
}
#form-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  z-index: 999;
}
#form-container img{
  border: 2px solid #fff;
  border-radius: 50%;
  height: 120px;
  margin: 0;
}
#form-box {
  background: #fff;
  position: relative;
  width: 600px;
  border-radius: 0px;
  padding: 20px 10px 40px 10px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.1), 0 6px 10px 5px rgba(0, 0, 0, 0.1), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  transition: .5s; 
}

#next-btn {
  position: absolute;
  right: 45px;
  bottom: 10px;
  padding: 10px 30px;
  font-size: 16px;
  color: #fff;
  float: right;
  cursor: pointer;
  background: #fb3a64;
  border:none;
  z-index: 2; }

  #prev-btn {
    
    position: absolute;
    font-size: 18px;
    left: 50px;
    top: 20px;
    padding: 5px 10px;
    z-index: 2;
    background: #fb3a64;
    float: right;
    border: none;
    cursor: pointer;
    color: #fff;
  }
  

  #input-group {
    position: relative;
    padding: 30px 20px 20px 20px;
    padding-bottom: 0;
    margin: 5px 20px;
    margin-bottom: 20px;
    transition: opacity 0.3s ease-in-out; 
  }
  input {
    position: relative;
    width: 100%;
    border: none;
    font-size: 20px;
    font-weight: bold;
    outline: 0;
    background: transparent;
    box-shadow: none; 
    border-bottom: 2px solid #ccc;
  }
  #input-group input.invalid {
    border-color: red;
  }
  #input-group #input-label {
    position: absolute;
    pointer-events: none;
    top: 32px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #444;
    transition: 0.5s ease-in-out; }
    #input-group input:valid + #input-label {
      top: 6px;
      left: 24px;
      margin-left: 0 !important;
      font-size: 14px;
      font-weight: normal;
      color: #fb3a64; 
    }


    .tab {
      display: none;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbbbbb;
      border: none; 
      border-radius: 50%;
      display: inline-block;
      opacity: 0.5;
    }

    /* Mark the active step: */
    .step.active {
      opacity: 1;
      
    }

    /* Mark the steps that are finished and valid: */
    .step.finish {
      background-color: #fff;
      opacity: 1;
    }

    @media only screen and (max-width: 767px){
     .logo{
      font-size: 2.5em !important;
    }
    #form-container img{
      height: 100px;
    }

    #input-group {
     margin-left:0; 
     margin-right:0; 
   } 
   #prev-btn {
    left: 30px;
  }
  #form-container{
    width: calc(100% - 60px);    
    padding: 40px 20px ;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  #form-box{
    width: calc(100% - 20px);
    margin: 0;
  }
}


